<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Liste des Users</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Email</th>
          <th>Activite</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of userList |async">
          <td>{{user.nom}}</td>
          <td>{{user.prenom}}</td>
          <td>{{user.email}}</td>
          <td>
            <button (click)="deleteUser(user.id)" class="btn btn-danger" >Delete</button>
            <button (click)="updateUser(user.id)" class="btn btn-primary" style="margin-left: 10px">Modifier</button>
            <button (click)="userDetails(user.id)"class="btn btn-info" style="margin-left: 10px">Details</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
